body {

background: linear-gradient(-45deg, #6a6a6a,
#545454,#3f3f3f,#2c2c2c,#191919,#000000);
background-size: 400% 400%;
-webkit-animation: Gradient 12s ease infinite;
-moz-animation: Gradient 12s ease infinite;
animation: Gradient 12s ease infinite;

	background: linear-gradient(-45deg, #6a6a6a,
	#545454,#3f3f3f,#2c2c2c,#191919,#000000);
	background-size: 400% 400%;
	-webkit-animation: Gradient 18s ease infinite;
	-moz-animation: Gradient 18s ease infinite;
	animation: Gradient 18s ease infinite;

}
@-webkit-keyframes Gradient {
	0% {
	background-position: 0% 50%
	}
	50% {
	background-position: 100% 50%
	}
	100% {
	background-position: 0% 50%
	}
}
 
@-moz-keyframes Gradient {
	0% {
	background-position: 0% 50%
	}
	50% {
	background-position: 100% 50%
	}
	100% {
	background-position: 0% 50%
	}
}
 
@keyframes Gradient {
	0% {
	background-position: 0% 50%
	}
	50% {
	background-position: 100% 50%
	}
	100% {
	background-position: 0% 50%
	}
}
#footer{
margin-top: -150px;
  position: relative;
  width: 100%;
  font-size: 30px;
  background-color: #1c1c1c;
  text-align: center;
  top: 0;
  left: 0;
}

.gid_block{
	text-align: left;
	display: inline-block;
	overflow: hidden;
	border: 3px solid black;
	background: #D3D3D3;
	padding: 10px;
	margin-left: 40px;
	margin-top: 350px;
	transition: 0.3s;
}
.line{
	position: relative;
	width: 100%;
	border: 1px inset black;
	background: black;
	left: 0px;
}

.gid_info > p{
	font-family: Comic Sans MS, Comic Sans, cursive;
}

.description{
	position: relative;
	width: 300px;
}
.description > p{
	color: #1c1c1c;
	font-family: Comic Sans MS, Comic Sans, cursive;
}

h2{
	font-family: Comic Sans MS, Comic Sans, cursive;
}


.pre_img{
	margin-top: 10px;
}


.gid_start{
	position: relative;
	background: transparent;
	width: 100%;
	height: 45px;
	border: 1px solid #262626;
	font-size: 18px;
	transition: 0.5s;
}

.gid_start:hover{
	color: orange;
	cursor: pointer;
	background: #262626;
}
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

h1 {
	font-size: 2em;
	margin: .67em 0;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace,monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,strong {
	font-weight: bolder;
}

code,kbd,samp {
	font-family: monospace,monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

img {
	border-style: none;
}

button,input,optgroup,select,textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,input {
	overflow: visible;
}

button,select {
	text-transform: none;
}

button,[type="button"],[type="reset"],[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: .35em .75em .625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

details {
	display: block;
}

summary {
	display: list-item;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

@media only screen and (max-width:479px) {
	.top_choice_toggle {
		width: 300px;
		height: auto;
	}

	.top_choice p {
		display: block;
	}

	.top_choice_toggle a {
		font-size: 13px;
	}

	.top_choice {
		margin: 15px 0 0 0;
		box-sizing: border-box;
		padding-left: 35px;
	}

	.top_choice p {
		overflow: hidden;
	}

	.top_choice_toggle:before {
		content: '';
		left: 110px;
	}

	.gc_list {
		padding-left: 0;
	}

	#small-modal7 {
		width: 300px;
	}

	.gcc_w3 {
		height: auto;
		margin-bottom: 30px;
	}
}



body {
	min-width: 780px;
	padding-top: 40px;
	color: #000;
	background-color:#fff;
}

.wrapper {
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	width: 768px;
	background-color: #000;
	box-shadow: 0 3px 4px 0 rgba(0,0,0,.15);
	position: relative;
}

a {
	color: black;
	outline: 0;
	text-decoration: none;
	cursor: pointer;
}

a:focus,a:hover {
	text-decoration: none;
	color: #a8001c;
}

p {
	margin: 0 0 12px;
}

.navigation .drop-down>ul {
	display: none;
	width: 300px
}

* {
	outline: 0!important;
}

.container:after,.row:after {
	content: '';
	clear: both;
	display: table;
	width: 100%;
}

.pull-left {
	float: left;
}

.clear {
	clear: both;
}

#catalog-menu {
	opacity: 0;
}

p:last-child,ul:last-child {
	margin-bottom: 0;
}

body,input,button {
	font-family: 'Open Sans',sans-serif;
	font-size: 15px;
	font-weight: 300;
}

body {
	line-height: 1.46666667;
}

a:hover {
	text-decoration: underline;
}

img {
	
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

h1,h2,h5,p,ul,ol,table,.h2 {
	font-weight: 300;
}

h1,h2,p,ul {
	font-weight: 300;
	margin-bottom: 15px;
}

h3,h5,ol,table,.form-row {
	margin-bottom: 15px;
}

ul,ol {
	padding-left: 20px;
}

ul.unstyled {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

.inline-block li {
	display: inline-block;
}

.cd-tabs__navigation a:hover {
	text-decoration: none;
}

.cd-tabs__navigation li:nth-child(1) a {
	background: #f2f2f2 url() no-repeat 20px 22px;
}

.cd-tabs__navigation li:nth-child(2) a {
	background: #f2f2f2 url() no-repeat 20px 22px;
}

.cd-tabs__navigation li:nth-child(3) a {
	background: #f2f2f2 url() no-repeat 20px 22px;
}

.cd-tabs__navigation li:nth-child(4) a {
	background: #f2f2f2 url() no-repeat 20px 22px;
}

.cd-tabs__navigation li:nth-child(5) a {
	background: #f2f2f2 url() no-repeat 20px 22px;
}

.cd-tabs__navigation li:nth-child(6) a {
	background: #f2f2f2 url() no-repeat 20px 22px;
}

.cd-tabs__navigation li:nth-child(7) a {
	background: #f2f2f2 url() no-repeat 20px 22px;
}


input {
	vertical-align: middle;
}

h1 {
	font-size: 29px;
}

h2,.h2 {
	font-size: 24px;
}

.h2 {
	margin-top: 0;
}

h3 {
	font-size: 22px;
}

h5,.h5 {
	font-size: 18px;
	font-weight: 400;
}

h1:last-child,h2:last-child,p:last-child,ul:last-child,table:last-child,.form-row:last-child {
	margin-bottom: 0;
}

button,input[type=button] {
	-webkit-appearance: button;
	cursor: pointer;
}

button::-moz-focus-inner,input[type=button]::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.text-center {
	text-align: center;
}

.navbar-toggle {
	display: none;
}

.top-navbar {
	min-width: 750px;
	border: 0;
	border-radius: 0;
	background-color: #fff;
	box-shadow: 0 3px 4px 0 rgba(0,0,0,.15);
}

.top-navbar .wrapper {
	width: 750px;
	box-shadow: none;
}
.top-navbar .show-menu,.top-hamburger {
	font-size: 26px;
	color: #a8001c;
}

.top-navbar .menu {
	margin: 0 -15px;
}

.top-navbar .menu.collapse.in {
	display: block!important;
	position: absolute;
	background-color: #fff;
	width: 150px;
	box-shadow: 0 3px 4px 0 rgba(0,0,0,.15);
}

.top-navbar .menu>li:first-child>a {
	padding-left: 0;
}

.top-navbar .menu>li:last-child>a {
	padding-right: 0;
}

.top-navbar .menu>li>a {
	width: 
	font-size: 17px;
	text-decoration: underline;
	color: #1c1c1c;
	padding: 0 0 0 10px;
	line-height: 40px;
	text-decoration: none;
}

.top-navbar .menu>li>a:focus,.top-navbar .menu>li>a:hover {
	text-decoration: underline;
	
	background-color: transparent;
}

.navbar-nav .open .dropdown-menu {
	min-width: 31px;
	margin: 0;
	padding: 6px 0;
	background-color: #fff;
	position: absolute;
}

.top-navbar .dropdown-menu>li>a {
	font-family: 'Open Sans',sans-serif;
	font-size: 17px;
	font-weight: 300;
	line-height: 42px;
	margin: 3px 0;
	padding: 3px 30px!important;
	text-align: left;
	text-decoration: none;
	color: black;
}

.top-navbar .dropdown-menu>li>a:focus,.top-navbar .dropdown-menu>li>a:hover {
	padding-left: 27px!important;
	text-decoration: none;
	
	background-color: #1c1c1c;
}

.top-navbar .navbar-text {
	font-size: 17px;
	font-weight: 300;
	line-height: 1;
	margin: 22px 0 24px 30px;
	padding-left: 0;
	
}

.header {
	margin-top: 30px;
	margin-bottom: 19px;
}

.navbar .form-search input.find {
	position: relative;
	border: medium none;
	float: right;
	height: auto!important;
	left: -10px;
	outline: medium none;
	top: -27px;
	width: auto!important;
}

.page-wrapper {
	max-width: none;
	width: 100%;
	margin: 0 auto;
}

.page-wrapper {
	min-width: 750px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 30px;
	padding-right: 30px;
	box-sizing: border-box;
}

.page-wrapper {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 50px;
}

.toggle_menu>li>a:hover:before {
	opacity: 1;
	width: 100px;
	color:orange;
}

.tc_ico span {
	text-align: center;
}

.navbar {
	height: 40px;
	margin: 0;
	line-height: 40px;
	font-size: 26px;
	min-height: 40px;
}

.navbar a i,.navbar i {
	font-size: 26px;
	color: #1c1c1c;
}

.navbar .main_menu a i {
	color: #1c1c1c;
}

.top-navbar .top_logo a img {
	margin: 7px 0 0 0;
}

.top_logo {
	float: left;
}



.navbar .top_search form {
	border: 1px solid #1c1c1c;
	border-radius: 3px;
	height: 34px;
	box-sizing: border-box;
	width: 100%;
	margin: 3px 0;
}

.navbar .top_search form button {
	position: absolute;
	top: 4px;
	right: 16px;
	border: 0;
	background-color: #1c1c1c;
	height: 32px;
}

.navbar .top_search form input {
	border: none;
	height: 32px;
	padding: 0 0 0 5px;
	width: 100%;
	vertical-align: top;
	margin: 0;
}

.navbar .top_cart a {
	position: relative;
}

.navbar .top_cart span {
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	width: 20px;
	height: 20px;
	background: #1c1c1c;
	border-radius: 50%;
	position: relative;
	right: -15px;
	top: -37px;
	line-height: 20px;
	display: block;
	text-align: center;
}

.navbar .top_cart b {
	font-size: 20px;
	margin: 0 0 0 10px;
}


.navbar .top_cart {
	position: relative;
	height: 40px;
}

.tc_ico {
	width: 30px;
	height: 30px;
	background: url() no-repeat 0 center;
	position: absolute;
	left: 0;
	top: 0;
}

.tc_ico span {
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	width: 20px;
	height: 20px;
	background: #D3D3D3;
	border-radius: 50%;
	position: absolute;
	right: -5px;
	top: -5px;
	line-height: 20px;
	display: block;
}

.tc_toggle {
	display: inline-block;
	width: 11px;
	height: 5px;
	background: url() no-repeat;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -3px;
	cursor: pointer;
}



.tm_column {
	width: 20%;
	float: left;
	padding-top: 20px;
	min-width: 62px;
}

.tmc_title {
	font-size: 15px;
	font-weight: 700;
	display: inline-block;
	text-align: center;
}

.tmc_title a:hover {
	text-decoration: none;
}

.toggle_menu2 ul li a {
	color: black;
	cursor: pointer;
	font-size: 14px;
}

.tmc_p1 {
	padding-left: 25px;
}
.main_tovar_block {
	text-align: center;
	position: relative;
}
.mtbi_label {
	color: #fff;
	font-weight: 300;
	font-size: 13px;
	border-radius: 3px;
	background: #D3D3D3;
	padding: 2px 0;
	width: 11px;
	position: absolute;
	left: 10px;
	bottom: 0;
}

.mtb_title {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}

.mtb_text {
	font-weight: 300;
	font-size: 20px;
}

.mtb_btn {
	width: 150px;
	margin: 0 auto;
	display: block;
	color: #fff;
	border-radius: 3px;
	font-size: 14px;
	line-height: 40px;
	height: 40px;
	background: #D3D3D3;
	cursor: pointer;
}
.tmc_last {
	
	height: 100%;
}

.open .toggle_menu {
	display: block;
}

.top_cart a:hover {
	text-decoration: none;
}

.burger_menu img {
	margin-top: 5px;
}

.top_choice {
	background: url() no-repeat 0 3px;
	margin-top: 11px;
	position: relative;
}

.top_choice p {
	color: #1c1c1c;
	font-size: 16px;
	float: left;
	margin: 3px 10px 5px 0;
	padding-right: 0;
}

.top_choice {
	position: relative;
	margin-top: 15px;
}

.top_choice>span {
	float: left;
	color: #1c1c1c;
	margin-top: 4px;
	display: block;
	text-decoration: underline;
	font-size: 16px;
	cursor: pointer;
}

.top_choice .top_choice_toggle {
	width: 330px;
	height: 170px;
	position: absolute;
	right: 0;
	top: 40px;
	box-sizing: border-box;
	padding: 20px 30px;
	background: #D3D3D3;
	display: none;
	z-index: 1010;
}

.top_choice .top_choice_toggle:before {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	right: 150px;
	top: -10px;
}

.top_choice .top_choice_toggle p span {
	font-weight: 700;
}

.top_choice .top_choice_toggle p {
	float: none;
	width: 100%;
	font-size: 16px;
	margin-bottom: 9px;
}

.top_choice .top_choice_toggle>span {
	
	text-align: center;
	background: #1c1c1c;
	padding: 5px 20px;
	display: inline-block;
	cursor: pointer;
}

.top_choice .top_choice_toggle>span:nth-child(2) {
	
}

.cnt {
	display: inline;
	height: 0;
	left: -1000px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: -1000px;
	visibility: hidden;
	width: 0;
}


.link {
	text-decoration: underline;
	
	cursor: pointer;
}

.link:hover {
	text-decoration: none;
}

.margin-small {
	margin: 10px 0;
}

button.show-menu {
	background: none;
	border: none;
}

.navbar .top_search form.popup-search {
	top: 43px;
	position: fixed;
	left: 50%;
	margin-left: -30%;
	z-index: 1002;
	padding: 0;
	;display: block!important;
	width: 60%;
	
}

.navbar .top_search form.popup-search button {
	top: 0;
	right: 0;
}

.top_phone a:hover {
	text-decoration: none;
}


.navigation {


	list-style: none;
	padding: 0;
	
	text-align: center;
	line-height: 46px;
	
	overflow: hidden;
	margin: 30px 30px;
	}

.navigation ul,.navigation li {
	list-style: outside none;
	text-align: left;
	padding: 0;
	margin: 0;
	min-width: 0px;
}

.navigation>div {
	float: left;
	overflow: hidden;
	width: 10%;
	
}

.navigation>div>a {
	
	font-size: 17px;
	font-weight: 300;
	width: 100%;
	display: block;
}

.navigation>div.drop-down>a {
	padding: 0 0 0 25px;
	font-weight: 700;
}

.navigation>div.drop-down>a>i {
	font-size: 26px;
	vertical-align: middle;
	
}

.navigation>div:hover>a,.navigation>div.hovered>a {
	text-decoration: none;
background-color: #D3D3D3;
	
}

.navigation>div:hover,.navigation>div.hovered {
	background-color: black;

}

.navigation>div:hover>ul,.navigation>div.hovered>ul {
	display: block;

}

.navigation>div.xl-width {
	
}

.navigation>div.xxl-width {
	width: 25%;
	text-align: left;

}

.navigation .catalog-link>ul>li>a {
	padding: 0 0 0 45px;
	font-weight: 700;
	
}

.navigation .drop-down>ul {
	display: none;
	position: absolute;
	
	background-color: #D3D3D3;
	width: calc(37% - 60px);
	left: 0;
	z-index: 1000;
	margin: 0 30px 0;
	
	
}

.navigation .drop-down>ul>li {
	margin-left: 2px;
	padding: 0 0 0 10px;
	line-height: 40px;
	height: 40px;
	color: black;
}

.navigation .drop-down>ul>li>a {

	display: block;
}

.navigation .drop-down>ul>li>a:hover {
	text-decoration: none;
	background-color:black;	
	margin-left: -12px;
}

.navigation .drop-down>ul>li>ul {
	display: none;
	position: absolute;
	left: 25%;
	top: 0;
	width: 75%;
	background-color: #D3D3D3;
	height: 250px;
}

.navigation .drop-down>ul>li:hover,.navigation .drop-down>ul>li.hovered {
	background: #D3D3D3;
}

.navigation .drop-down>ul>li:hover>ul,.navigation .drop-down>ul>li>ul.hovered {
	display: table;
	color: orange;
	background:  #D3D3D3;
}

.navigation .drop-down>ul>li>ul>li {
	display: table-cell;
}

.navigation>div.catalog-link>ul>li>ul>li>ul>li>span {
	font-size: 18px;
	font-weight: 500;
	color: #000;
	
	background-color: #D3D3D3;
}

.navigation>div.catalog-link>ul>li>ul>li>ul>li>ul {
	padding: 0 0 0 10px;
}

.navigation>div.catalog-link>ul>li>ul>li>ul>li>ul>li {
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
}

.mm-menu {
	z-index: 1050;
}

.top_phone {
	max-width: 235px;
}

.top_search-lg {
	display: none;
}

.top-navbar .menu>li>a {
	font-size: 15px;
}


.navigation {
	text-align: center;
	width: 2530px;
}
