body{
	background-color: black;
}


.generator{
	position: relative;
	display: inline;
}

p{
	font-family: sans-serif;
}


i {
  border: solid #f57507;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  width: 30px;
  height: 30px;
  top: 100px;
  transition: 0.3s;
}

i:hover{
	border-color: white;
	width: 25px;
	height: 25px;
	cursor: pointer; 
}

.right {
	position: absolute;
	right: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right: 30px;
}

.left {
	position: absolute;
	left: 0;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 30px;
}

#add-block{
	position: relative;
	margin-bottom: 20px;
	margin-top: 50px;
	margin-left: 50px;
	width: 100px;
	height: 30px;
	border: 2px solid #f57507;
	background: transparent;
	overflow: hidden;
	display: flex;
	align-items: center;
  	border-radius: 10px;
  	justify-content: center;
  	font-size: 25px;
  	color: white;
  	transition: 0.3s;
}

#add-block:hover{
	cursor: pointer;
	background: white;
	color: #f57507;

}

#add-block > img {
	position: relative;
	width: 100px;
	height: 100px;
}

.gid-block{
	float: left;
	position: relative;
	margin: 30px;
	border: 3px solid #f57507;
	border-radius: 10px;
	background: transparent;
	transition: 0.3s;
}

.gid-block:hover{
	background: white;
	cursor: pointer;
}

.gid-block:hover .slide_number{
	color: #f57507;
}


.load-btn{
	position: relative;
	border: 1px solid black;
	height: 30px;
	font-size: 1.15em;
	font-family: Comic Sans MS, Comic Sans, cursive;
	transition: 0.3s;
}

.load-btn:hover{
	background: black;
	color: orange;
}

.file-wrapper{
	position: relative;
	display: inline-block;
}


.preview-image{
	position: relative;
	width: 100px;
	height: 100px;
	margin-top: 10px;
}



.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.input-file + label {
	padding: 5px;
	border: 1px solid black;
    font-size: 1.15em;
    color: #090909;
    font-family: Comic Sans MS, Comic Sans, cursive;
    display: inline-block;
    transition: 0.3s;
}
.input-file:focus + label,
.input-file + label:hover {
	background: black;
    color: orange;
}


.slideList{
	position: relative;
	margin-left: 50px;
	height: 700px;
	width: 200px;
	float: left;
	border: 2px solid black;
	border-radius: 10px;
	border-color: #f57507;
	overflow: auto;
}
.editPlace{
	position: absolute;
	margin-left: 500;
	height: 700px;
	width: 1000;
	float: left;
	border: 2px solid black;
	border-radius: 10px;
	border-color: #f57507;
	overflow: auto;
}

.slide_number{
	color: white;
	font-family: Comic Sans MS, Comic Sans, cursive;
	margin: 10px;
}

.pick_slide{
	border-radius: inherit;
	margin: 10px;
	outline: none;
}


#overlay {
  position: fixed;
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9); 
  z-index: 2;  
}

.editBtn{

	position: relative;
    margin: 10px;
    border: 2px solid #f57507;
    border-radius: 8px;
    background: transparent;
    color: white;
    outline: none;
    padding: 5px;
    transition: 0.4s;
    
}

.editBtn:hover{
	background: white;
	color: #f57507;
	cursor: pointer;
}

.exitBtn{
	position: absolute;
    margin-right: 10px;
    margin-top: 10px;
    background: transparent;
    border-left: 2px solid #f57507;
    border-bottom: 2px solid #f57507;
    border-right: transparent;
    border-top: transparent;
    right: 0;
    color: white;
    transition: 0.4s;
    outline: none;
}

.saveBtn{
	position: absolute;
    margin-right: 10px;
    margin-bottom: 10px;
    background: transparent;
    border-left: 2px solid #f57507;
    border-bottom: 2px solid #f57507;
    border-right: transparent;
    border-top: transparent;
    right: 0;
    bottom: 0;
    color: white;
    transition: 0.4s;
    outline: none;
    font-size: 20px;
}

.exitBtn:hover{
	cursor: pointer;
	color: orange;
	border-left: 2px solid white;
    border-bottom: 2px solid white;
}

.saveBtn:hover{
	cursor: pointer;
	color: orange;
	border-left: 2px solid white;
    border-bottom: 2px solid white;
}

#imagesBlock::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
	margin-right: 5px;
}

#imagesBlock::-webkit-scrollbar
{
	width: 6px;
	background-color: transparent;
}

#imagesBlock::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #f57507;
}

#browse-btn{
	position: relative;
	color: white;
	border-bottom: 2px solid #f57507;
	padding: 3px;
	border-radius: 5px;
}

#browse-btn:hover{
	border-color: white;
	cursor: pointer;
}

#loadBtn:hover{
	color: white;
	font-size: 15px;
	cursor: pointer;
}

.optionsArea{
    margin: 10px;
    border-bottom: 1px solid white;
}
.optionTitle{
	color: white;
	margin: 10px; 
	display: inline-block;
}