* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


section{
  left: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}
.header {
  padding-top: 85px;
  width: 100%;
  height: 100px;

}
.nav {
  padding-top: 15px;
  padding-right:50%;
  height: 120px;
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  background-image: linear-gradient(to right, #808080, black);
}
 .nav a {
  float:right;
   text-decoration: none;
  padding:15px;
  display: block;
  color: #fff;
  font-size: 26px;


}
.nav a:hover {
  color: #000;
  background: #808080;
}

.button-to_generator {
  margin-left: 32%;
  background-color: transparent;
  border: solid 1px white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;
}

.button-to_generator:hover {
  background-color: #808080;
  color: black;
}
.img_logo{
  margin-left: 15%;
  border: solid 1px white ;
  background-image: url(http://cataloniarentals.com/catalonia/images/logo.png);
  margin-top: -5px;
  width: 20%;
  height:100%;
}
img {
    width: 100%;
}

/* Navigation Styling */

.navbar {
    font-size: 18px;
    padding-bottom: 10px;
}
.main-nav {
    list-style-type: none;
}

.nav-links,

.main-nav li {
    text-align: center;
    margin: 15px auto;
}



.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: #fff;
    font-size: 24px;
}

/* Hides Menu by Default */

.main-nav {
    list-style-type: none;
    display: none;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
    .logo {
        margin-top: 0;
    }
   .navbar-toggle {
       display: none;
    }
   
    .nav-links:hover {
        border-bottom: solid 5px #008ed6;
    }
}

/* Column classes */

.col-2 {
  float: left;
  width: 50%;
}

.col-3 {
    float: left;
    width: 33.3%;
}

.col-4 {
    float: left;
    width: 25%;
    padding: 10px;
}


@media screen and (max-width: 600px) {
    .column {
        float: left;
        width: 100%;
    }
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Text Stying */

.intro-text{
    color: #008ed6;
    text-transform: uppercase;
    font-weight: bold;
}
.headline-text-light {
    color: #fff;
    
}

.description-text {
    color: #909091;
}

/* Buttons */

.button-dark {
 background-color: transparent;
  border: solid 1px white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
}
.button-dark:hover {
 background-color: #808080;
  color: black;
}

.button-light {
  background-color: transparent;
  border: solid 1px white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
}

.button-light:hover {
   background-color: #808080;
  color: black;
}

/* Main Hero Section */

#hero {
    background: url("https://ivankondratyev.ru/images/red.jpg") no-repeat;
    background-size: cover;
    height: 1200px;
}

@media screen and (min-width:768px) {
#hero-phone img {
    width: 400px;
}
}

#hero-phone {
    text-align: center;
}

#hero-copy {
    margin-top: 50px;
}

/* Features Section */

#features {
    text-align: center;
    padding: 30px 0px;
}

.feature-icon {
    border: 1px solid #787878;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    
}

.feature-icon i {
    font-size: 50px;
    padding-top: 25px;
    color: #008ed6;
}

#features p {
    padding: 0 20px;
}

/* About Section */

#about {
    border-top: solid 2px #f4f4f4;
    padding: 30px 0;
}

@media screen and (min-width:768px) {
#about-phone img {
    width: 400px;
}
}

#about-text li {
    list-style-type: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 2;
}

#about-text i {
    color:#008ed6;
}

#about2 {
    background-color: #f2f2f2;
    padding: 30px 0px;
}

#about2-text {
    margin-top: 20px;
}

/* Testimonials Section */

#testimonials {
    background: url("") no-repeat;
    background-size: cover;
    padding: 30px 0px;
}

#testimonials-heading {
    text-align: center;
}


#testimonials {
    color: #fff;
}

.testimonial-text {
    padding: 10px;
    font-style: italic;
}

.client {
    display: flex;
    align-items: center;
    justify-content: left;
}

.client img{
    width: 60px;
    padding: 10px
}

.client span {
    display: block;
    padding: 5px
}


/* CTA Section */

#cta-section {
    background-color: #000;
    color: #fff;
    padding: 30px;
}

@media screen and (min-width:768px){

.cta {
    display: flex;
    align-items: center;
    justify-content: right;
}

.cta-buttons {
    margin-left: 100px;
}
    
}

.cta-buttons {
    margin: 0 auto;
}


/* Pricing Table */

#pricing {
    text-align: center;
  height: 800px;
}

.price-table {
    list-style: none;
    border: 1px solid #999999;
    text-align: center;
    padding: 0px;
}

.price-table li {
    list-style: none;
    border: 1px solid #e0e0e0;
    text-align: center;
}

.price-header {
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    
}

.price-cell {
    padding: 30px;
}

.price-cell-special {
    padding: 30px;
    background-color: #008ed6;
    color: #fff;
}

.price {
    font-size: 30px;
    font-weight: bold;
}

.per-month {
    color: #999999;
}

.per-month-special {
    color: #fff;
}

.price-text {
    color: #999999;
    padding: 30px;
}

.price-cta {
    padding: 10px;
}

.price-button {
  background-color: transparent;
  border: solid 1px #999999;
  color: #008ed6;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  text-transform: uppercase; 
}

.price-button-special {
  background-color: #008ed6;
  border: solid 1px #999999;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  text-transform: uppercase; 
}


/* Contact Section */

#contact {
    text-align: center;
    background-color: #e0e0e0;
    padding-top: 30px;
}

#contact i {
    color: #008ed6;
}

.contact-info {
    color: #999999;
    font-size: 10px;
}

/* Form Styling */

form {
    width: 70%;
    margin: 0 auto;
    background-color: black;
    padding: 30px;
}

.form-left {
    width: 50%;
    float: left;
}

.form-left input {
    margin: 10px;
    padding: 10px;
    background-color: #000;
    color: #999;
}

.form-right {
    width: 50%;
    float: left;
}

@media screen and (max-width: 600px) {
    .form-left {
        width: 100%;
    }
    .form-right {
        width: 100%;
    }
}

.form-right textarea {
    background-color: #000;
    color: #999;
    height: 200px;
    
}


/* Footer Styling */

#footer-info {
    background-color: #000;
    color: #999;
    padding: 20px;
}

.footer-icons {
    text-align: center;
    word-spacing: 10px;
}

.footer-copyright {
    text-transform: uppercase;
    font-size: 10px;
    word-spacing: 0px;
}