body {
  background-color: #262626 ;
}
#footer{

  position: relative;
  width: 100%;
  font-size: 30px;
  background-color: #1c1c1c;
  text-align: center;
  top: 0;
  left: 0;
}
#top_menu{
  position: f;
  display: inline-block;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#top_menu > li{
  display: inline-block;  
  position: relative;
}
#top_menu > li > a{
  display: inline-block;
  padding: 10px 20px; 
  color: white;
  font-family: sans-serif;
  text-decoration: none; 
}
#top_menu > li > a:hover{
  color: #FFB028;
  background-color: #000000;   
}
#top_menu > li:hover > ul{
 color: #FFB028;
  display: block;
}
button{
  display: none;
}
.gid {
  margin-top: 45px;
  padding: 35px;
  margin-left: 800px;
  border:solid #262626;
  border-width:medium;
  border-radius: 5;
  position: relative;
  display: inline-block;
  font-size: 30px;
  color:white;
}
.gid hover{
  border: solid #FFB028 ;
}
#EASYGID {
  font-size: 50px;
font-family: 
}
#start{
  background-color: #D3D3D3;
  border:solid #D3D3D3;
  margin-top: -15px;
  margin-left: 50px;
font-size: 35px;
}

