body {
  background-color: #262626 ;
}
#footer{
  position: relative;
  width: 100%;
  font-size: 30px;
  background-color: #1c1c1c;
  text-align: center;
  top: 0;
  left: 0;
}
#top_menu{
  position: f;
  display: inline-block;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#top_menu > li{
  display: inline-block;  
  position: relative;
}
#top_menu > li > a{
  display: inline-block;
  padding: 10px 20px; 
  color: white;
  font-family: sans-serif;
  text-decoration: none; 
}
#top_menu > li > a:hover{
  color: #FFB028;
  background-color: #000000;   
}
#top_menu > li:hover > ul{
 color: #FFB028;
  display: block;
}


#page {
font-size: 140px;
  position: relative;
  width: 100%;
  font-size: 30px;
  background-color:#A9A9A9 ;
  text-align: center;
  top: 0;
  left: 0;
}

.btn8 {
  padding: 0 30px;
  height: 1.2em;
  overflow: hidden;
  font-size: 60px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: white;
  font-family: arial;
} 
.btn8 span {
  position: relative;
  padding: 0 5px;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
} 
.btn8 span:before {
  position: absolute;
  width: 100%;
  color:#A9A9A9 ;
  left: 0;
  top: 100%;
  content: attr(data-hover);
  font-weight: 700;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
} 
.btn8:hover span {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}
