body {
	background-color: #262626 ;
}
h2 {
	
background-image: url(LOGO.png);
	border-radius: 4px;
	text-align: center;
	 border: 20px solid transparent ;
		font-size: 90px;
		
	

	}
h3 {
	
	padding-top: 50px;
	border-style: none;
	border-radius: 4px;
	text-align: center;
	height: 100%;
	 border: 8px solid transparent ;
		font-size: 20px;
		background-color: #808080;

	margin-left: 300px;
	margin-right: 300px;


}
*{
  box-sizing: border-box;
}
#header{
width: 100%;
font-size: 30px;
 margin-top: 10px;
 margin-left: 8px;

  background-color: #1c1c1c; 
  border-bottom: 0px solid gray; 
  text-align: center;
}
#top_menu{
  display: inline-block;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#top_menu > li{
  display: inline-block;  
  position: relative;
}
#top_menu > li > a{
  display: inline-block;
  padding: 10px 20px; 
  color: inherit;
  text-decoration: none; 
  transition: background-color 0.25s, color 0.15s;
}
#top_menu > li > a:hover{
  color: #FFB028;
  background-color: #000000;   
}
#top_menu > li:hover > ul{
 color: #FFB028;
  display: block;
}
.inner_menu{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding-left: 0;
  text-align: left;
  white-space: nowrap;
  background-color: #5F82D3;
}

.inner_menu > li > a{
  width: 100%;
  display: inline-block;
  padding: 10px 20px; 
  color: inherit;
  text-decoration: none; 
}
.inner_menu > li > a:hover{
  color: #FFB028;
  background-color:#223A71; 
}

h4 {
	border:solid #212024;
	border-style: none;
	border-radius: 4px;
	text-align: center;
	border-color: transparent;
	font-size: 20px;
	border: 8px solid transparent ;
    
		font-size: 20px;
		background-color: #666666;
	margin-left: 300px;
	margin-right: 300px;
}

    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}

.youtube a:hover {background: #c4302b; color: #fff;}
.instagram a:hover {background: #3f729b; color: #fff;}
.facebook a:hover {background: #3b5998; color: #fff;}
.vk a:hover {background: #5d84ae; color: #fff;}
.telegram a:hover {background: #249bd7; color: #fff;}
