body {
	background-color: #262626 ;
}
#footer{
  position: fixed;
  width: 100%;
  font-size: 30px;
  background-color: #1c1c1c;
  text-align: center;
  top: 0;
  left: 0;
}
#top_menu{
  position: f;
  display: inline-block;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#top_menu > li{
  display: inline-block;  
  position: relative;
}
#top_menu > li > a{
  display: inline-block;
  padding: 10px 20px; 
  color: white;
  font-family: sans-serif;
  text-decoration: none; 
}
#top_menu > li > a:hover{
  color: #FFB028;
  background-color: #000000;   
}
#top_menu > li:hover > ul{
 color: #FFB028;
  display: block;
}
.inner_menu{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding-left: 0;
  text-align: left;
  white-space: nowrap;
}

.inner_menu > li > a{
  width: 100%;
  display: inline-block;
  padding: 10px 20px; 
  color: inherit;
  text-decoration: none; 
}
.inner_menu > li > a:hover{
  color: #FFB028;
}
